<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <title>Большой театр</title>
        {{>head}}
    </head>
    <body>
        <div class="wrapper block-center">
            <section class="hero">
                {{>aside}}
                {{> header }}
                <div class="margin-bottom-30px"></div>
                <div class="margin-bottom-150px"></div>
                <div class="hero__container container">
                    <div class="hero__text">
                        <div class="margin-bottom-150px"></div>
                        <h1>Большой театр</h1>
                        <div class="margin-bottom-50px"></div>
                        <p>Большо́й теа́тр — петербургский театр, существовавший в 1784—1886 годах, с 1886 года — Петербургская консерватория. Первое постоянное в Санкт-Петербурге, крупнейшее в России и одно из крупнейших театральных зданий в Европе XVIII.</p>
                        <div class="margin-bottom-50px"></div>
                        <button class="btn-gold">Афиша</button>
                    </div>
                    <div class="x-indent-30"></div>
                    <div class="x-indent-100"></div>
                    {{>slider}}
                </div>
            </section>
            <section class="about">
                <div class="about__container container">
                    <div class="about__content text-center">
                        <div class="margin-bottom-150px"></div>
                        <h2><span class="gold">о</span> театре</h2>
                        <div class="margin-bottom-80px"></div>
                        <div class="margin-bottom-20px"></div>
                        <div class="about__text">
                            <div class="about__item-text text-left">
                                <h5>Самый лучший театр СПБ</h5>
                                <div class="margin-bottom-50px"></div>
                                <p>Как свидетельствуют архивные документы, первое каменное здание Большого театра начали возводить в 1775 году по проекту Антонио Ринальди. В дальнейшем, после того как Ринальди упал с лесов и не мог лично наблюдать за ходом работ, Екатерина II поручила немецкому театральному декоратору и архитектору Людвигу Филиппу Тишбейну создать новый проект театра, который и был воплощён архитекторами Ф. В. фон Бауром и М. А. Деденёвым. Открытие его состоялось в 1783 году, хотя, основываясь на других свидетельствах, годом открытия можно считать 1784 год.</p>
                            </div>
                            <div class="about__item-ico text-left">
                                <h5>немного о цифрах</h5>
                                <div class="margin-bottom-50px"></div>
                                <img src="./assets/img/chair.png" alt="Сиденье">
                                <div class="margin-bottom-20px"></div>
                                <p><span class="gold">1600</span> посадочный мест</p>
                                <div class="margin-bottom-20px"></div>
                                <img src="./assets/img/theater.png" alt="Занавес">
                                <div class="margin-bottom-20px"></div>
                                <p><span class="gold">350</span> лет истории</p>
                            </div>
                            <img src="./assets/img/pmin.jpg" alt="Изображение театра">
                        </div>
                    </div>
                </div>
            </section>
            <div class="margin-bottom-150px"></div>
            <section class="productions">
            <div class="productions__container container">
                <div class="productions__content text-center">
                    <h2><span class="gold">наши</span> постановки</h2>
                    <div class="margin-bottom-80px"></div>
                    <div class="margin-bottom-20px"></div>
                    <div class="productions__plays">
                        <div class="productions__play">
                            <img src="./assets/img/lp/pr1.jpg" alt="">
                            <h3>ОСКАР 2021</h3>
                            <h5>июнь 2021</h5>
                            {{>search}}
                        </div>
                        <div class="productions__play">
                            <img src="./assets/img/lp/pr2.jpg" alt="">
                            <h3>золотой грамофон</h3>
                            <h5>июль 2022</h5>
                            {{>search}}
                        </div>
                        <div class="productions__play">
                            <img src="./assets/img/lp/pr4.jpg" alt="">
                            <h3>Роман 1984</h3>
                            <h5>май 2022</h5>
                            {{>search}}
                        </div>
                        <div class="productions__play">
                            <img src="./assets/img/lp/pr3.jpg" alt="">
                            <h3>щелкунчик</h3>
                            <h5>май 2023</h5>
                            {{>search}}
                        </div>
                    </div>
                </div>
            </section>
            <div class="margin-bottom-150px"></div>
            <sections class="box">
                <div class="box__container container">
                    <div class="box__content">
                        <div class="box__text">
                            <h5>2021</h5>
                            <h5>2022</h5>
                            <h5>2023</h5>
                        </div>
                        <div class="x-indent-100"></div>
                        <div class="box__text">
                            <img src="./assets/img/stars.png" alt="5 звёзд">
                            <div class="margin-bottom-20px"></div>
                            <p>Лучший театр <br />
                            по мнению театральных критиков Парижа</p>
                        </div>
                    </div>
                </div>
            </sections>
            <sections class="partners">
                <div class="partners__container container">
                    <div class="margin-bottom-80px"></div>
                    <h2><span class="gold">партнеры</span> театра</h2>
                    <div class="margin-bottom-80px"></div>
                    <div class="partners__logos">
                        <img src="./assets/img/brp.png" alt="">
                        <div class="x-indent-80"></div>
                        <img src="./assets/img/brp.png" alt="">
                        <div class="x-indent-80"></div>
                        <img src="./assets/img/brp.png" alt="">
                        <div class="x-indent-80"></div>
                        <img src="./assets/img/brp.png" alt="">
                        <div class="margin-bottom-80px"></div>
                    </div>
                    <div class="partners__logos">
                        <img src="./assets/img/brp.png" alt="">
                        <div class="x-indent-80"></div>
                        <img src="./assets/img/brp.png" alt="">
                        <div class="x-indent-80"></div>
                        <img src="./assets/img/brp.png" alt="">
                        <div class="x-indent-80"></div>
                        <img src="./assets/img/brp.png" alt="">
                        <div class="margin-bottom-120px"></div>
                    </div>
                </div>
            </sections>
            <section class="form">
                <div class="form__container container">
                    <div class="margin-bottom-80px"></div>
                    <h2><span class="gold">Стать</span> меценатом</h2>
                    <div class="margin-bottom-80px"></div>
                    <div class="form__content">
                        <div class="form__contacts">
                            <a href="tel:+7 (812) 123-45-55">+7 (812) 123-45-55</a>
                            <div class="margin-bottom-20px"></div>
                            <a href="tel:+7 (812) 123-45-66">+7 (812) 123-45-66</a>
                            <div class="margin-bottom-20px"></div>
                            <a href="mailto:info@theater.ru">info@theater.ru</a>
                            <div class="margin-bottom-20px"></div>
                            <a href="https://www.google.com/maps/search/?api=1&query=59.929853, 30.369012">г. санкт-петербург, невский 140</a>
                        </div>
                        <div class="x-indent-100"></div>
                        <div class="form__inputs">
                            <div class="form__inputs-container">
                                <div class="form__inputs-sm">
                                    <input type="text" placeholder="Имя" name="" id="">
                                    <input type="number" placeholder="Телефон" name="" id="">
                                </div>
                                <div class="form__inputs-sm">
                                    <input type="text" placeholder="Компания" name="" id="">
                                    <input type="email"placeholder="E-mail"  name="" id="">
                                </div>
                                <textarea  placeholder="Сообщение" required></textarea>
                            </div>
                            <div class="form__send">
                                <p>* Ваши данные не будут переданы третьим лицам, 100% <br /> вероятность. Конфиденциальность мы гарантируем, и защищаем <br /> персональные данные согласно законку ФЗ-52.</p>
                                <button type="submit" class="btn-gold">отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="margin-bottom-80px"></div>
                <div class="line"></div>
            </section>
            {{>footer}}
        </div> 
    </body>
</html>