<aside class="panel">
    <div class="panel__container">
        <div class="panel__content">
            <p>контактная информация</p>
            <div class="margin-bottom-50px"></div>
            <div class="line"></div>
            <div class="margin-bottom-50px"></div>
            <div class="panel__social">
                <a href="#" class="inst">
                    <div></div>
                </a>
                <div class="margin-bottom-50px"></div>
                <a href="#" class="fb">
                    <div></div>
                </a>
                <div class="margin-bottom-50px"></div>
                <a href="#" class="vk">
                    <div></div>
                </a>
                <div class="margin-bottom-50px"></div>
                <a href="#" class="yb">
                    <div></div>
                </a>
            </div>
        </div>

    </div>
                    
</aside>