<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <div class="header__nav-link"><a href="#">Главная</a></div>
      <div class="header__nav-link"><a href="#">о театре</a></div>
      <div class="header__nav-link"><a href="#">Наши постановки</a></div>
      <div class="header__nav-link"><a href="#">партнеры театра</a></div>
      <div class="header__nav-link"><a href="#">контакты</a></div>
      <div class="x-indent-100"></div>
      <div class="header__nav-link"><p class="phone">+7(999)888-77-66</p></div>
    </nav>
  </div>
</header>
